# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

# Temp
*.swp
*.bak
*.tmp
*~

# Database files
*.db
*.dblite

# Logs and output
*.log
output*.txt

# Keep *_test source files, skip executables and .o files
*_test
!*_test.*
*_test.o

# Build folders
build/

# Unwanted IDE files
*.kdev4

build-*-Debug/
